/* Basic styling for body */
body {
  justify-content: center;
  width: 100vw;
  align-items: center;
  background-color: black;
  color: white;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

/* Court grid styling  used BWF court sizing guidelines for court proportions*/
.court {
  display: grid;
  grid-template-rows: 4px 72px 4px 388px 4px 198px 1px 198px 4px 388px 4px 72px 4px;
  grid-template-columns: 4px 42px 4px 253px 4px 253px 4px 42px 4px;
  zoom: 70%;
  /* rotate: -90deg; */
  transform-origin: 0 0;
  opacity: 0%; /* makes the court appear/disappear with opacity*/
}
.line {
  border-style: solid;

  background-color: white;
  border-width: 1px;
}

/* Each grid section/area styling */
.area {
  background-color: green;
  cursor: grab; /*grabs the cursor to show you're doing something change to hand*/
}
.net {
  background-color: red;
  border-color: red;
}
/*  */
.bar {
  display: none;
  
}

  svg {
            animation-name: shuttle;
            animation-duration: 1s;
            position: absolute;
            top: 10;
            left: 10;
            scale: 30%;
            /* transition: transform 0.5s ease-in-out; */
        }
        /* svg:hover {
            transform: rotate(360deg);
        }  */

/* Media query:  */
