@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Basic styling for body */
body {
  width: 100vw;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /* Ensures padding/margin doesn't exceed the viewport */
}
.page1 {
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro {
  background-color: blue;
  padding: 20px;
  border-radius: 10px;
  font-size: medium;
  text-align: justify;
  max-width: 500px;
}
.courtContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Court grid styling  used BWF court sizing guidelines for court proportions*/
.court {
  background-color: red;
  /* TODO make responsive*/
  display: grid;
  grid-template-rows: 4px 72px 4px 388px 4px 198px 1px 198px 4px 388px 4px 72px 4px;
  grid-template-columns: 4px 42px 4px 253px 4px 253px 4px 42px 4px;
  transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  opacity: 0%; /* makes the court appear/disappear with opacity*/
}
.line {
  border-style: solid;

  background-color: white;
  border-width: 1px;
}

/* Each grid section/area styling */
.area {
  background-color: rgba(43, 93, 231, 0.821);
  cursor: grab; /*grabs the cursor to show you're doing something change to hand*/
}
.net {
  background-color: rgb(195, 19, 231);
  border-color: rgb(195, 19, 231);
}
.bar {
  display: none;
  justify-content: center;
  align-items: center;
}
#nextMove {
  width: 100vw;
  text-align: center;
}
#shuttle {
  position: absolute;
  display: none;
  top: 10px;
  left: 10px;
  transition: left 1s, top 1s;
}

#shuttleimage {
  zoom: 20%;
  transition: all 1s;
}

a {
  color: red;
}
/* Media query:  */
/* Responsive styles for mobile view */
@media (max-width: 768px) {
  body {
    margin: 20px; /* Reduces large margins on small screens */
    flex-direction: column; /* Stack content vertically if needed */
  }

  .intro {
    padding: 15px;
    font-size: 14px; /* Adjust font size for better readability */
  }

  h1 {
    font-size: 1.5em; /* Adjust headline size */
  }

  p {
    font-size: 1em;
  }

  button {
    font-size: 1em;
    padding: 10px 20px;
  }
}
