/* Basic styling for body */
body {
  justify-content: center;
  width: 100vw;
  align-items: center;
  background-color: black;
  color: white;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

/* Court grid styling  used BWF court sizing guidelines for court proportions*/
.court {
  display: grid;
  grid-template-rows: 4px 72px 4px 388px 4px 198px 1px 198px 4px 388px 4px 72px 4px;
  grid-template-columns: 4px 42px 4px 253px 4px 253px 4px 42px 4px;
  zoom: 70%;
  /* rotate: -90deg; */
  transform-origin: 0 0;
  opacity: 0%; /* makes the court appear/disappear with opacity*/
}
.line {
  border-style: solid;

  background-color: white;
  border-width: 1px;
}

/* Each grid section/area styling */
.area {
  background-color: rgba(43, 93, 231, 0.821);
  cursor: grab; /*grabs the cursor to show you're doing something change to hand*/
}
.net {
  background-color: rgb(195, 19, 231);
  border-color: rgb(195, 19, 231);
}
/*  */
.bar {
  display: none;
  
}

#shuttle {
  position: absolute;
  display: none;
  top: 10px;
  left: 10px;
  transition: left 1s, top 1s;
}

#shuttleimage {
  zoom: 20%;
  transition: all 1s;
}

a {
  color: red;
}

/* CSS to display tool tips above the class area divs */
        .area:hover:after {
            display: block;
            position: absolute;
            z-index: 1;
            width: fit-content;
            white-space: nowrap;
            background-color: darkgray;
            color: black;
            border-radius: 5px;
            padding: 10px;
        }

        /* Individual tool tips per area */
        #TRL2:after { content: "Top Rear Left Tramline"; left: 0 }
        #TRL1:after { content: "Top Rear Left"; }
        #TRR1:after { content: "Top Rear Right"; }
        #TRR2:after { content: "Top Rear Right Tramline"; right: 0 }
        #TML2:after { content: "Top Middle Left Tramline"; left: 0 }
        #TML1:after { content: "Top Middle Left"; }
        #TMR1:after { content: "Top Middle Right"; }
        #TMR2:after { content: "Top Middle Right Tramline"; right: 0 }
        #TFL2:after { content: "Top Front Left Tramline"; left: 0 }
        #TFL1:after { content: "Top Front Left"; }
        #TFR1:after { content: "Top Front Right"; }
        #TFR2:after { content: "Top Front Right Tramline"; right: 0 }
        #BFL2:after { content: "Bottom Front Left Tramline"; left: 0 }
        #BFL1:after { content: "Bottom Front Left"; }
        #BFR1:after { content: "Bottom Front Right"; }
        #BFR2:after { content: "Bottom Front Right Tramline"; right: 0 }
        #BML2:after { content: "Bottom Middle Left Tramline"; left: 0 }
        #BML1:after { content: "Bottom Middle Left"; }
        #BMR1:after { content: "Bottom Middle Right"; }
        #BMR2:after { content: "Bottom Middle Right Tramline"; right: 0 }
        #BRL2:after { content: "Bottom Rear Left Tramline"; left: 0 }
        #BRL1:after { content: "Bottom Rear Left"; }
        #BRR1:after { content: "Bottom Rear Right"; }
        #BRR2:after { content: "Bottom Rear Right Tramline"; right: 0 }
/* Media query:  */
